{%extends 'navbar.html' %}
{% load static %}
{% block body%}
<head>
        <link rel= "stylesheet" type= "text/css" href= "{% static '/css/login.css' %}">
    </head>
<center>
    <div id="div">
      {% csrf_token %}
<form  id='form' method = "post" action="{% url 'forgetpassword' %}">
   {% csrf_token %}
        <h1>Forget Password</h1><br/>&nbsp;
    <input type ="text" name ="username" placeholder="Username"/><br/>&nbsp;

    <input id='btn' type ="submit"/><br/><br>

</form>
    </div>
</center>
{%endblock%}