

{% extends 'base.html' %}
{% block body %}
<head>
    <style>
        .card {
			display: inline-block;
			margin: 40px;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			width: 250px;

		}
		.card img {
			width: 100%;
			height: auto;
			border-radius: 5px;
		}
		.card h3 {
			margin: 0;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			margin-top: 10px;
		}
		.card p {
			margin: 0;
			font-size: 14px;
			text-align: justify;
			margin-top: 10px;
		}
    </style>
</head>
  <div class="product-list">
    {% for product in products %}
<!--      <div class="product">-->
<!--        <h2>{{ product.item }}</h2>-->
<!--        <img src="{{ product.photo }}" alt="{{ product.name }}">-->
<!--        <p class="price">{{ product.cost }}</p>-->
<!--      </div>-->

      <div class="card">
			<img src="{{product.photo.url}}"    >
			<h3>{{product.item}}</h3>
  <h3>{{product.cost}}</h3>
<!--			<p>This is the third card</p>-->

		</div>
    {% endfor %}
  </div>
      <a href="{% url 'additem' %}">add item </a>

{% endblock %}

